* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #BDBF09;
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin-top: 20px;
}

#scoreboard {
  font-size: 2rem;
  font-weight: 900;
  margin: 10px;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #D96C06;
  background-color: #F5EFED;
}

.box:hover {
  cursor: pointer;
  background-color: #cac4c1;
}

.highlight {
  background-color: #f39c12; /* Highlight color for the winning combination */
  color: #fff; 
}


#reset-btn, #start-btn, #new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #2292A4;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#reset-btn:hover, #start-btn:hover, #new-btn:hover {
  background-color: #187a89;
  zoom: 105%;
  font-weight: 800;
  border: solid 2px black;
  cursor: pointer;
}

#buttons {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}